body{
    background-color: rgb(240, 212, 212);
    color: rgb(90, 61, 61);
    font-family: sans-serif;
}
.principal{
    text-align: center;
}
#linkedin{
    text-decoration: underline;
}
image{
    width: 500px;
    height: 500px;
}
#imagem{
    text-align: center;
}
header{
    background-color: rgb(129, 94, 92);
    height: 150px;
    color: rgb(240, 223, 223);
    text-align-last: center;
    font-size: 30px;
    top: 10px;
}