body{
    background-color: rgb(249, 241, 241);
    color: rgb(90, 61, 61);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1, .sobre-mim{
    text-align: center;
}
#imagem {
    width: 40%;
    border-radius: 50%;
    padding-left: 30px;
}
h1, #imagem, .sobre-mim {
    display: block;
}
.sobre-mim {
    width: 500px; 
    padding-left: 150px;
    line-height: 30px;
}
.habilidades, .meus-perfis{
    line-height: 30px;
}
h2 {
    padding-top: 50px;
    padding-left: 50px;
}
.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-direction: row;
    text-align: justify; 
}
header{
    background-color: rgb(177, 155, 153);
}  
